sudo: required
language: generic 
services:
  - docker

before_install:
  - docker build -t lukaszziobro89/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true lukaszziobro89/docker-react npm run test

deploy:
  - provider: elasticbeanstalk
  - region: "eu-west-2"
  - app: "docker-react"
  - env: "Dockerreact-env"
  - bucket_name: "elasticbeanstalk-eu-west-2-393063452753"
  - bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"
